

@{
    Layout = null;
    string Succ = @ViewBag.Success;
    string Delete = @ViewBag.Error;

}

<!doctype html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <title>Reset Password</title>
    <!-- Bootstrap Core and Font Icon -->
    <link rel="stylesheet" href="~/assets/plugins/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/plugins/animate-css/vivify.min.css" />
    <link rel="stylesheet" href="~/assets/plugins/font-awesome/css/font-awesome.min.css">
    <!-- Core css -->
    <link rel="stylesheet" href="~/assets/css/main.css" />
</head>

<body class="theme-blush">
    <!-- main content-->
    <div class="auth">
        <div class="container">
            <div class="forms-container">
                <div class="signin-signup forgot-page">
                    

                    <form class="sign-in-form" method="post" action="@Url.Action("ChangeForgetPassword", "Account")">
                        <h2 class="title">Reset password</h2>
                        <div style="display:none; width:60%" class="alert alert-success alert-dismissible fade show" id="SuccessAlert" role="alert">
                            @ViewBag.Success
                        </div>
                        <div style="display:none; width:60%" class="alert alert-danger alert-dismissible fade show" role="alert" id="ChangePasserror">
                            <strong>Error!</strong>New Password and Confirm Password not Matched.
                        </div>
                            <input type="email" placeholder="Enter Mail" id="Email" name="Email" hidden value="@ViewBag.Email" autofocus required />
                        <div class="input-field">
                            <i class="fa fa-lock"></i>
                            <input type="password" placeholder="Enter New Password" id="NewPassword" name="NewPassword" autofocus required />
                        </div>
                        <div class="input-field">
                            <i class="fa fa-lock"></i>
                            <input type="password" placeholder="Enter Confirm Password" id="ConfirmPassword" name="ConfirmPassword" autofocus required />
                        </div>
                        <input style="width:60%" type="submit" id="SaveChanges" value="Send Mail" class="btn solid" />
                     
                    </form>
                    
                </div>
            </div>

            <div class="panels-container">
                <div class="panel left-panel">

                    <div class="content">
                        <img class="logo1" src="~/assets/images/logo.png" alt="user" style="margin-bottom:15%;width:45%">
                        <h3>Build digital products with</h3>
                        <p>
                            Build, run, and scale your digital designs of gardens - end to end  and more
                        </p>

                        <a href="@Url.Action("Login","Account")">
                            <button class="btn transparent" id="sign-up-btn" style="background-color: #8dc63f;">
                                Back to Sign in
                            </button>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="~/assets/bundles/libscripts.bundle.js"></script>
    <script src="~/assets/js/page/auth.js"></script>


    <script>

    $("#ConfirmPassword").change(function () {
        var New = $("#NewPassword").val();
        if (New) {
            if ($("#NewPassword").val() != $("#ConfirmPassword").val()) {
                $("#ChangePasserror").fadeIn();


                $("#SaveChanges").attr("disabled", true);
            } else {
                $("#SaveChanges").attr("disabled", false);
                $("#ChangePasserror").fadeOut();
            }
        }
    });

    $("#NewPassword").change(function () {
        var New = $("#ConfirmPassword").val();
        if (New) {
            if ($("#NewPassword").val() != $("#ConfirmPassword").val()) {
                $("#ChangePasserror").fadeIn();

                $("#SaveChanges").attr("disabled", true);
            } else {
                $("#SaveChanges").attr("disabled", false);
                $("#ChangePasserror").fadeOut();
            }
        }

    });

    $(document).ready(function () {

        if ("@Succ"!="") {
            $('#SuccessAlert').fadeIn();
            $('#SuccessAlert').fadeOut(10000);
        }
        else {
                $('#SuccessAlert').fadeOut();
        }

    });


    </script>
</body>
</html>
