
@{
    Layout = null;
    string Delete = @ViewBag.Error;
}

<!doctype html>
<html lang="en" dir="ltr">


<!-- Mirrored from www.pixelwibes.com/template/vsparks/html/dist/forgot-password.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 21 Dec 2022 08:00:02 GMT -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="~/assets/images/Favicon.png" type="image/x-icon" />
    <title>Forgot Password</title>
    <!-- Bootstrap Core and Font Icon -->
    <link rel="stylesheet" href="~/assets/plugins/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/plugins/animate-css/vivify.min.css" />
    <link rel="stylesheet" href="~/assets/plugins/font-awesome/css/font-awesome.min.css">
    <!-- Core css -->
    <link rel="stylesheet" href="~/assets/css/main.css" />
</head>

<body class="theme-blush">
    <!-- main content-->
    <div class="auth">
        <div class="container">
            <div class="forms-container">
                <div class="signin-signup forgot-page">
                    <form method="post" action="@Url.Action("ForgetPassword", "Account")" class="sign-in-form">
                        <h2 class="title">@Resources.Forgotpassword</h2>
                        <div style="display:none; width:60%" class="alert alert-danger alert-dismissible fade show" id="error" role="alert">
                            @ViewBag.Error
                        </div>
                        <div class="input-field">
                            <i class="fa fa-lock"></i>
                            <input type="text" placeholder="Enter Mail" />
                        </div>
                        <input style="width:60%" type="submit" value="Send Mail" class="btn solid" />
                        <p class="social-text text-center">@Resources.Entertheemailaddressyouusedwhenyoujoinedandwe_llsendyouinstructionstoresetyourpassword_.</p>
                    </form>
                    <form method="post" action="@Url.Action("Login","Account")" class="sign-up-form">
                        <h2 class="title">@Resources.SignIn</h2>
                        <div class="input-field">
                            <i class="fa fa-user"></i>
                            <input type="text" placeholder="Username" />
                        </div>
                        <div class="input-field">
                            <i class="fa fa-lock"></i>
                            <input type="password" placeholder="Password" />
                        </div>
                        <input style="width:60%" type="submit" value="Login" class="btn solid" />
                        
                    
                    </form>
                </div>
            </div>

            <div class="panels-container">
                <div class="panel left-panel">

                    <div class="content">
                        <img class="" src="~/assets/images/logo.png" alt="user" style="margin-bottom:15%;width:45%">
                        <h3>@Resources.Builddigitaldesignswith</h3>
                        <p>
                            @Resources.Build_run_andscaleyourdigitaldesignsofgardens_endtoendandmore.
                        </p>
                        <button class="btn transparent" id="sign-up-btn" style="background-color:#8dc63f">
                            @Resources.Backtosignin
                        </button>
                        <br><br>
                        <button type="button" class="btn transparent dropdown-toggle flag-icon flag-icon-us flag-icon-squared" data-toggle="dropdown"> Language</button>
                        <div class="dropdown-menu ">
                            <a class="dropdown-item " href="@Url.Action("SetCulture","Account",new { culture="en"})"><i class="flag-icon flag-icon-us flag-icon-squared mr-2"></i> English</a>
                            <a class="dropdown-item " href="@Url.Action("SetCulture","Account",new { culture="de"})"><i class="flag-icon flag-icon-de flag-icon-squared mr-2"></i> German</a>
                        </div>
                    </div>
                </div>
                <div class="panel right-panel">

                    <div class="content">
                        <img class="" src="~/assets/images/logo.png" alt="user" style="margin-bottom:15%;width:45%">
                        <h3>@Resources.Builddigitaldesignswith</h3>
                        <p>
                            @Resources.Build_run_andscaleyourdigitaldesignsofgardens_endtoendandmore.
                        </p>
                        <button class="btn transparent" id="sign-in-btn" style="background-color:#8dc63f;width:40%">
                            @Resources.Forgotpassword
                        </button>
                        <br><br>
                        <button type="button" class="btn transparent dropdown-toggle flag-icon flag-icon-us flag-icon-squared" data-toggle="dropdown"> Language</button>
                        <div class="dropdown-menu ">
                            <a class="dropdown-item " href="javascript:void(0);"><i class="flag-icon flag-icon-us flag-icon-squared mr-2"></i> English</a>
                            <a class="dropdown-item " href="javascript:void(0);"><i class="flag-icon flag-icon-de flag-icon-squared mr-2"></i> German</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/assets/bundles/libscripts.bundle.js"></script>
    <script src="~/assets/js/page/auth.js"></script>
</body>

<!-- Mirrored from www.pixelwibes.com/template/vsparks/html/dist/forgot-password.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 21 Dec 2022 08:00:02 GMT -->
</html>
<script>

        $(document).ready(function () {

            if ("@Delete" != "") {
                $('#error').fadeIn();
                $('#error').fadeOut(10000);
            }
            else {
                $('#error').fadeOut();
            }

        });
</script>