@model IEnumerable<DrawingTheme.Models.tblOrder>

@{
    ViewBag.Title = "OrderList";
    Layout = "~/Views/Shared/_Layout.cshtml";


    string Succ = @ViewBag.Success;
    string Update = @ViewBag.Update;
    string Delete = @ViewBag.Delete;
    string Error = @ViewBag.Error;
}
<div class="block-header py-lg-2 py-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-4 col-sm-12">

                <h4>@Resources.Plan </h4>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index.html">
                            <i class="fa fa-dashboard"></i>
                            @Resources.Dashboard
                        </a>
                    </li>

                    <li class="breadcrumb-item active">@Resources.Plan </li>
                </ul>
            </div>

        </div>
    </div>
</div>
<div class="body d-flex profile-page">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12">
                <div style="display:none;" class="alert alert-success alert-dismissible fade show" id="SuccessAlert" role="alert">
                    <strong>Success!</strong> @ViewBag.Success
                </div>
                <div style="display:none;" class="alert alert-info alert-dismissible fade show" id="UpdateAlert" role="alert">
                    <strong>Success!</strong> @ViewBag.Update
                </div>
                <div style="display:none;" class="alert alert-warning alert-dismissible fade show" id="DeleteAlert" role="alert">
                    <strong>Success!</strong> @ViewBag.Delete
                </div>
                <div style="display:none;" class="alert alert-danger alert-dismissible fade show" id="error" role="alert">
                    @ViewBag.Error
                </div>
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">@Resources.Planlist</h3>
                    </div>
                    <div class="card-body pt-0">
                        <div class="table-responsive table_e2">
                            <table class="table table-hover table-vcenter text-nowrap mb-0" id="ScrapperList">
                                <thead>
                                    <tr>

                                        <th hidden>Order Id</th>
                                        <th>@Resources.NAME</th>
                                        <th>@Resources.TOTALPRICE</th>
                                        <th>@Resources.DATE</th>
                                        <th>@Resources.Status</th>
                                        <th>@Resources.ACTION</th>
                                        <th hidden>Status</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (DrawingTheme.Models.tblOrder Order in Model)
                                    {
                                        <tr>
                                            <td hidden>@Order.OrderId</td>
                                            <td>
                                                @Order.Name
                                            </td>

                                            <td>$ @Order.TotalPrice</td>

                                            <td>
                                                <span class="phone">
                                                    <i class="fa fa-calendar mr-2"></i>
                                                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", @Order.CreatedDate))
                                                </span>
                                            </td>
                                            <td>
                                                @if (Order.Status == 1)
                                                {
                                                    <span class="badge badge-success">@Resources.Paid</span>
                                                }
                                                else
                                                {
                                                    <span class="badge badge-danger">@Resources.UnPaid</span>
                                                }

                                            </td>
                                            <td hidden>
                                                <span>@Order.isActive</span>
                                            </td>
                                            <td>
                                                @if (Order.Status == 1)
                                                {

                                                }
                                                else
                                                {
                                                    <a href="@Url.Action("AddAccesoires","Admin",new {OrderID=@Order.OrderId })"><button type="button" class="btn btn-primary btn-sm" title="View"><i class="fa fa-paypal"></i> View</button></a>
                                                }
                                                <button type="button" class="btn btn-danger btn-sm" title="Delete" id="DeleteOrder" data-toggle="modal" data-target="#DeleteOrderModal"><i class="fa fa-paypal"></i> Delete</button>
                                            </td>
                                        </tr>

                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="addcontact" tabindex="-1" role="dialog">
    <div class="modal-dialog  modal-lg" role="document">
        @using (Html.BeginForm("AddOrder", "Order", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {@Html.AntiForgeryToken()
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title" id="defaultModalLabel">Add Order</h4>
            </div>
            <div class="modal-body">

                <div class="row clearfix">
                    <div class="col-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="OrderNumber" name="OrderNumber" placeholder="Order Number" required>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <input type="text" hidden class="form-control" id="OrderId" name="OrderId" placeholder="First Name">
                            <input type="text" class="form-control" id="Name" name="Name" placeholder="Name" required>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="TotalPrice" name="TotalPrice" placeholder="Total Price" required>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="Status" name="Status" placeholder="Status" required>
                        </div>
                    </div>
                    <div class="col-12 form-group">

                        <label class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="isActive" name="isActive" value="True">
                            <span class="custom-control-label">Active</span>
                        </label>

                        <p id="error-checkbox"></p>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save Changes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    }
    </div>
</div>



<div class="modal fade" id="DeleteOrderModal" tabindex="-1" role="dialog">
    <div class="modal-dialog  modal-lg" role="document">
        @using (Html.BeginForm("DeleteOrder", "Customer", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {@Html.AntiForgeryToken()
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title" id="defaultModalLabel">Delete Order</h4>
            </div>
            <div class="modal-body text-center">
                <img src="~/assets/images/sent.png" alt="" width="50" height="46">
                <input class="form-control" type="text" name="OrderId" id="DeleteOrderId" hidden>
                <h5>Are you sure want to delete this Order information?</h5>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    }
    </div>
</div>



<script src="~/assets/js/jquery-3.2.1.min.js"></script>
<script>

    $(document).on("click", "#DeleteOrder", function () {
        //alert();
        var currentRow = $(this).closest("tr");
        $("#DeleteOrderId").val(currentRow.find("td:eq(0)").text());
       /* $("#DeleteOrderModal").toggle();*/

    });


    $(document).on("click", "#AddOrder", function () {
        $("#defaultModalLabel").text("Add Order");
        $("#OrderId").val('');
        $("#Name").val('');
        $("#TotalPrice").val('');
        $("#Status").val('');

        $('#isActive').prop('checked', false);
        //var myModal = $('#offcanvasAddOrder');
        //$('#offcanvasAddOrder').css("visibility", "visible");
        //$('#offcanvasAddOrder').addClass("show");
        //$('#AddOrderBody').css("visibility", "visible");
    });


    $(document).on("click", "#EditOrder", function () {
        @*var model1 = '@Html.Raw(Json.Encode(ViewBag.CategoryList))';
        var data = JSON.parse(model1);*@
        var currentRow = $(this).closest("tr");


        //alert(currentRow.find("td:eq(2)").text());

        $("#defaultModalLabel").text("Edit Order");
        var OrderId = currentRow.find("td:eq(0)").text();
        $("#OrderId").val(OrderId);
        $("#OrderNumber").val(currentRow.find("td:eq(1)").text());
        $("#Name").val(currentRow.find("span:eq(0)").text());
        $("#TotalPrice").val(currentRow.find("td:eq(3)").text());
        $("#Status").val(currentRow.find("span:eq(1)").text());

        if (currentRow.find("span:eq(2)").text()=="True") {
            $('#isActive').prop('checked', true);
        }
        else {
            $('#isActive').prop('checked', false);
        }

    });

    $(document).ready(function () {


        if ("@Succ"!="") {
            $('#SuccessAlert').fadeIn();
            $('#SuccessAlert').fadeOut(10000);
        }
        else {
            $('#SuccessAlert').fadeOut();
        }
        if ("@Update" != "") {
            $('#UpdateAlert').fadeIn();
            $('#UpdateAlert').fadeOut(10000);
        }
        else {
            $('#UpdateAlert').fadeOut();
        }
        if ("@Delete" != "") {
            $('#DeleteAlert').fadeIn();
            $('#DeleteAlert').fadeOut(10000);
        }
        else {
            $('#DeleteAlert').fadeOut();
        }
        if ("@Error" != "") {
            $('#error').fadeIn();
            $('#error').fadeOut(10000);
        }
        else {
            $('#error').fadeOut();
        }


        //$('#ScrapperList').DataTable({
        //    searching: true,
        //    "ordering": false
        //});

        $(".nav1 li").removeClass("active");
        $('#Plans').addClass('active');

    });
</script>