@model  DrawingTheme.Models.tblUser
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";

    HttpCookie cookieObj = Request.Cookies["User"];
    int RoleId = Int32.Parse(cookieObj["RoleId"]);
}


<div class="block-header py-lg-2 py-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-4 col-sm-12">
                <h4>@Resources.Profile</h4>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index.html">
                            <i class="fa fa-dashboard"></i>
                            @Resources.Dashboard
                        </a>
                    </li>

                    <li class="breadcrumb-item active">@Resources.Profile</li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-8 col-sm-12">
                <ul class="nav nav-tabs tab-body-header rounded justify-content-end" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#usersettings"
                           role="tab">@Resources.Usersettings</a>
                    </li>


                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Body: Body -->
<div class="body d-flex profile-page">
    <div style="display:none;" class="alert alert-success alert-dismissible fade show" id="SuccessAlert" role="alert">
        @ViewBag.Success
    </div>
    <div style="display:none;" class="alert alert-danger alert-dismissible fade show" role="alert" id="OldPasserror">
        <strong>Error!</strong> @ViewBag.Error
    </div>
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12">
                @using (Html.BeginForm("AddUser", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {@Html.AntiForgeryToken()
                <div class="card active-bg overflowvisible profile-main">
                    <div class="card-body profile-header p-0">
                        <div class="back-profile bprofile" style="height:150px ">

                        </div>
                        <div class="detail">
                            <div class="u-profile-img m-r-20">
                                @if (Model.ImagePath == null)
                                {
                                    <img src="~/assets/images/user.png" class="rounded img-raised"
                                         alt="User" style="height: 180px; width: 180px;">
                                }
                                else
                                {
                                    <img src="@Model.ImagePath" class="rounded img-raised profileimg"
                                         alt="User" style="height: 180px; width: 180px;">
                                }
                            </div>
                            <div class="u_name text-left" style="color:black !important">
                                <h4 class="mb-1"><strong>@Model.FirstName </strong>@Model.LastName</h4>
                             
                                <h6 class="mb-0">@Resources.UploadProfileImage</h6>
                                <input type="file" class="form-control-file" name="Image" id="exampleInputFile"
                                       aria-describedby="fileHelp" value="Upload Profile Image">
                            </div>

                        </div>
                    </div>
                </div>
                <div class="tab-content ">


                    <div role="tabpanel" class="tab-pane active" id="usersettings">

                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title"><strong>@Resources.Account</strong> @Resources.Settings</h3>
                            </div>
                            <div class="card-body pt-0">
                                <div class="row clearfix">
                                    <div class="col-lg-3 col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Katie" hidden name="UserId" value="@Model.UserId">
                                            <input type="text" class="form-control" placeholder="Katie" hidden name="RoleId" value="@Model.RoleId">
                                            <label>@Resources.FirstName</label>
                                            <input type="text" class="form-control" placeholder="Katie" name="FirstName" value="@Model.FirstName">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-12">
                                        <div class="form-group">
                                            <label>@Resources.LastName</label>
                                            <input type="text" class="form-control" placeholder="Clark" name="LastName" value="@Model.LastName">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-12">
                                        <div class="form-group">
                                            <label>@Resources.Email</label>
                                            <input type="text" class="form-control" placeholder="E-mail" name="Email" value="@Model.Email">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-12">
                                        <div class="form-group">
                                            <label>@Resources.PhoneNumber</label>
                                            <input type="text" class="form-control" placeholder="Phone" name="Phone" value="@Model.Phone">
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>@Resources.Address</label>
                                            <textarea rows="4" class="form-control no-resize"
                                                      placeholder="Address" name="Address" value="@Model.Address">@Model.Address</textarea>
                                        </div>
                                    </div>
                                    @if (RoleId == 1)
                                    {
                                        <div class="col-md-12">
                                            <div class="checkbox">
                                                @if (@Model.isActive == true)
                                                {
                                                    <input id="procheck1" type="checkbox" name="isActive" value="True" checked>
                                                }
                                                else
                                                {
                                                    <input id="procheck1" type="checkbox" name="isActive" value="True">
                                                }

                                            <label for="procheck1">@Resources.Active</label>
                                            </div>

                                        </div>
                                    }

                                    <div class="col-md-12">
                                        <button class="btn btn-primary btn-round" style="float:right">@Resources.SaveChanges</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            }
                <div class="row">
                    <div class="col-md-6">

                        @if (Convert.ToInt32(@ViewBag.isAdmin) == 0)
                        {
                            using (Html.BeginForm("CustomerChangePassword", "Customer", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {@Html.AntiForgeryToken()
                            <div class="card" hidden>
                                <div style="display:none;" class="alert alert-danger alert-dismissible fade show" role="alert" id="ChangePasserror">
                                    <strong>Error!</strong>New Password and Confirm Password not Matched.
                                </div>
                                <div class="card-header">
                                    <h3 class="card-title"><strong>@Resources.Security</strong> @Resources.Settings</h3>
                                </div>
                                <div class="card-body pt-0">
                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group">
                                            <label>@Resources.CurrentPassword</label>
                                            <input type="password" class="form-control" placeholder="Current Password" hidden name="id" value="@Model.UserId">
                                            <input type="password" class="form-control" placeholder="Current Password" hidden name="Email" value="@Model.Email">
                                            <input type="password" class="form-control" placeholder="Current Password" id="OldPassword" name="OldPassword" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group">
                                            <label>@Resources.NewPassword</label>
                                            <input type="password" class="form-control" placeholder="New Password" id="NewPassword" name="NewPassword" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group">
                                            <label>@Resources.ConfirmPassword</label>
                                            <input type="password" class="form-control" placeholder="New Password" id="ConfirmPassword" name="ConfirmPassword" required>
                                        </div>
                                        <button class="btn btn-primary btn-round" id="SaveChanges" style="float:right">@Resources.SaveChanges</button>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        using (Html.BeginForm("AdminChangePassword", "Customer", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {@Html.AntiForgeryToken()
                        <div class="card">
                            <div style="display:none;" class="alert alert-danger alert-dismissible fade show" role="alert" id="ChangePasserror">
                                <strong>Error!</strong>New Password and Confirm Password not Matched.
                            </div>
                            <div class="card-header">
                                <h3 class="card-title"><strong>Security</strong> Settings</h3>
                            </div>
                            <div class="card-body pt-0">
                                <div class="col-lg-4 col-md-12">
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Current Password" hidden name="id" value="@Model.UserId">
                                        <input type="password" class="form-control" placeholder="Current Password" hidden name="Email" value="@Model.Email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>@Resources.NewPassword</label>
                                    <input type="password" class="form-control" placeholder="New Password" name="NewPassword" required>
                                </div>

                                <button class="btn btn-primary btn-round" style="float:right">@Resources.SaveChanges</button>
                            </div>
                        </div>
                    }
                }
                    </div>

                </div>
              




            </div>
        </div><!-- .row End -->
    </div>
</div>
<script src="~/assets/js/jquery-3.2.1.min.js"></script>
<script>

    $("#ConfirmPassword").change(function () {
        var New = $("#NewPassword").val();
        if (New) {
            if ($("#NewPassword").val() != $("#ConfirmPassword").val()) {
                $("#ChangePasserror").fadeIn();

                $("#SaveChanges").attr("disabled", true);
            } else {
                $("#SaveChanges").attr("disabled", false);
                $("#ChangePasserror").fadeOut();
            }
        }
    });

    $("#NewPassword").change(function () {
        var New = $("#ConfirmPassword").val();
        if (New) {
            if ($("#NewPassword").val() != $("#ConfirmPassword").val()) {
                $("#ChangePasserror").fadeIn();

                $("#SaveChanges").attr("disabled", true);
            } else {
                $("#SaveChanges").attr("disabled", false);
                $("#ChangePasserror").fadeOut();
            }
        }

    });


    $(document).ready(function () {



        if ("@ViewBag.Success"!="") {
            $('#SuccessAlert').fadeIn();
            $('#SuccessAlert').fadeOut(10000);
        }
        else {
                $('#SuccessAlert').fadeOut();
        }
        if ("@ViewBag.Error" != "") {
            $('#OldPasserror').fadeIn();
            $('#OldPasserror').fadeOut(10000);

        }
        else {
                    $('#OldPasserror').fadeOut();
        }
    

        $(".nav1 li").removeClass("active");
        $('#Profile').addClass('active');
        $(".sub-menu ul").removeClass("show");
        $('#Settings').addClass('show');
    });
</script>