@model IEnumerable<DrawingTheme.Models.tblRole>
@{
    ViewBag.Title = "Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string Succ = @ViewBag.Success;
    string Update = @ViewBag.Update;
    string Delete = @ViewBag.Delete;
    string Error = @ViewBag.Error;
}
<div class="block-header py-lg-2 py-2">
    <div class="container-fluid">
        <div style="display:none;" class="alert alert-success alert-dismissible fade show" id="SuccessAlert" role="alert">
            <strong>Success!</strong> @ViewBag.Success
        </div>
        <div style="display:none;" class="alert alert-info alert-dismissible fade show" id="UpdateAlert" role="alert">
            <strong>Success!</strong> @ViewBag.Update
        </div>
        <div style="display:none;" class="alert alert-warning alert-dismissible fade show" id="DeleteAlert" role="alert">
            <strong>Success!</strong> @ViewBag.Delete
        </div>
        <div style="display:none;" class="alert alert-danger alert-dismissible fade show" id="error" role="alert">
            @ViewBag.Error
        </div>
        <div class="row">

            <div class="col-lg-6 col-md-4 col-sm-12">
                <h4>@Resources.UserManagement</h4>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index.html">
                            <i class="fa fa-dashboard"></i>
                            @Resources.Dashboard
                        </a>
                    </li>

                    <li class="breadcrumb-item active">@Resources.RolesManagement</li>
                </ul>
            </div>

        </div>
    </div>
</div>
<div class="body d-flex profile-page">
    <div class="container-fluid">
        <div class="row clearfix">
            @foreach (var item in Model)
            {
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between mb-2">
                                

                            </div>
                            <div class="d-flex justify-content-between align-items-end">
                                <div class="role-heading">
                                    <h4 hidden class="mb-1" id="ListRoleId">@item.RoleId</h4>
                                    <h4 class="mb-1" id="ListRole">@item.Role</h4>
                                    <a href="javascript:;" data-toggle="modal" data-target="#addRoleModal" class="role-edit-modal" id="EditRole"><small>@Resources.EditRole</small></a>
                                </div>
                                <a href="javascript:void(0);" class="text-muted"><i class="bx bx-copy"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            }
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="card">
                        <div class="row">

                            <div class="col-sm-12">
                                <div class="card-body text-sm-end text-center ps-sm-0">
                                    <button data-target="#addRoleModal" data-toggle="modal" class="btn btn-primary mb-3 text-nowrap add-new-role">@Resources.AddNewRole</button>
                                    <p class="mb-0">@Resources.Addroleifitdoesnotexist</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
<div class="modal fade " id="addRoleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content p-3 p-md-5">

            <div class="modal-body">
                <div class="text-center mb-4">
                    <h3 class="role-title">@Resources.AddNewRole</h3>
                    <p>@Resources.Setrolepermissions</p>
                </div>
                <!-- Add role form -->
                <form id="addPermissionForm" class="row g-3 fv-plugins-bootstrap5 fv-plugins-framework" onsubmit="return false" novalidate="novalidate">
                    <div class="col-12 mb-4 fv-plugins-icon-container">
                        <label class="form-label" for="modalPermissionName">@Resources.RoleName</label>
                        <input type="text" id="RoleId" name="RoleId" class="form-control" placeholder="Role Id" hidden>
                        <label id="LblError" style="color:red;display:none;">Role name must be filled!</label>
                        <input type="text" id="Role" name="Role" class="form-control" placeholder="Role Name" autofocus />
                        <div class="fv-plugins-message-container invalid-feedback"></div>
                    </div>
                    <div class="col-12">
                        <h5>Role Permissions</h5>
                        <!-- Permission table -->
                        <div class="table-responsive">
                            <table class="table table-flush-spacing" id="MenuAccessTbl">
                                <tbody>

                                    @if (@ViewBag.SelectedMenuAccess != null)
                                    {
                                        foreach (var item in @ViewBag.SelectedMenuAccess)
                                        {
                                            <tr>
                                                <td class="text-nowrap fw-semibold" id="AMenuId">@item.menuid</td>
                                                <td class="text-nowrap fw-semibold" id="AMenuName">@item.menu.Name</td>
                                                <td>

                                                    <div class="d-flex">

                                                        <div class="form-group">

                                                            <div class="form-check me-3 me-lg-5">
                                                                @if (item.isActive == true)
                                                                {
                                                                    <input class="form-check-input" type="checkbox" id="userManagementRead" checked>
                                                                    @*<input class="form-check-input" type="checkbox" id="userManagementRead" checked />*@

                                                                }
                                                                else
                                                                {
                                                                    <input class="form-check-input" type="checkbox" id="userManagementRead">
                                                                    @*<input class="form-check-input" type="checkbox" id="userManagementRead" />*@
                                                                }
                                                                @*<label class="custom-control-label" for="userManagementRead">

                                                                    Read
                                                                </label>*@

                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        foreach (DrawingTheme.Models.tblMenu Menu in @ViewBag.MenuList)
                                        {
                                            <tr>
                                                <td style="display:none;"><input type="text" id="manuid" name="manuid" value="@Menu.MenuId"></td>
                                                <td class="text-nowrap">@Menu.Name</td>

                                                 <td>
                                                    <div class="d-flex">
                                                        <div class="form-group">
                                                            <input class="form-check-input" type="checkbox" name="isactive" id="userManagementRead">
                                                            @*<label class="" for="userManagementRead">

                                                                Read
                                                            </label>*@

                                                        </div>

                                                    </div>
                                                </td>


                                                @*<td class="text-center">
                                                    <input class='form-check-input' type="checkbox" name="isactive">
                                                </td>*@
                                                <td class="text-center" style="display:none;">
                                                    <input type="checkbox" name="accesscreate">
                                                </td>
                                                <td class="text-center" style="display:none;">
                                                    <input type="checkbox" name="accessedit">
                                                </td>
                                                <td class="text-center" style="display:none;">
                                                    <input type="checkbox" name="accessdelete">
                                                </td>
                                            </tr>
                                        }
                                    }


                                </tbody>
                            </table>
                        </div>
                        <!-- Permission table -->
                    </div>
                    <div class="col-12 text-right">
                        <div id="loading" style="display:none;margin: 0 auto; text-decoration-color:cornflowerblue;"><div class="spinner-border text-success" id="display_loading" style="margin: 0 auto;"></div><div class="spinner-border text-success" id="display_loading" style="display:none;margin: 0 auto;"></div></div>
                        <button type="submit" class="btn btn-primary me-sm-3 me-1" id="btnSave">      @Resources.Submit</button>
                        <button type="reset" class="btn btn-secondary" aria-label="Close">@Resources.Cancel</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close">@Resources.Close</button>
                    </div>
                    <div></div><input type="hidden">
                </form>
                <!--/ Add role form -->
            </div>
        </div>
    </div>
</div>

<script src="~/assets/js/jquery-3.2.1.min.js"></script>
<script>

    $("body").on("click", "#EditRole", function () {
        var row = $(this).closest('div');
        var RoleId = row.find("#ListRoleId").text();
        var Role = row.find("#ListRole").text();

        var model = {
            RoleId: RoleId,
        };
        console.log(model);
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetAccessLevel", "User")",
            data: JSON.stringify(model),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (r) {
                $("#RoleId").val(RoleId);
                $("#Role").val(Role);
                var items = '';
                $('#MenuAccessTbl tbody').empty();
                console.log(r);
                $.each(r, function (i, item) {
                    if (item.isactive == true) {

                        var rows = "<tr>"
                            //+ "<td class='text-nowrap fw-semibold' id='AMenuId'>" + item.menuid + "</td>"
                            + "<td style='display:none;'><input type='text' id='manuid' name='manuid' value='" + item.menuid + "'></td>"
                            + "<td class='text-nowrap fw-semibold' id='AMenuName'>" + item.menu.Name + "</td>"
                            + "<td class='prtoducttd'><input class='form-check-input' name='isactive' type='checkbox' id='userManagementRead' checked /> </td>"
                            + "</tr>";
                        $('#MenuAccessTbl tbody').append(rows);
                    }
                    else {
                        var rows = "<tr>"
                            //+ "<td class='text-nowrap fw-semibold' id='AMenuId'>" + item.menuid + "</td>"
                            + "<td style='display:none;'><input type='text' id='manuid' name='manuid' value='" + item.menuid + "'></td>"
                            + "<td class='text-nowrap fw-semibold' id='AMenuName'>" + item.menu.Name + "</td>"
                            + "<td class='prtoducttd'><input class='form-check-input' name='isactive' type='checkbox' id='userManagementRead' /> </td>"
                            + "</tr>";
                        $('#MenuAccessTbl tbody').append(rows);
                    }

                });
            },
            failure: function (errMsg) {
                alert(errMsg);
            }
        });

    });



    $("body").on("click", "#AddRole", function () {
        $("#RoleId").val('');
        $("#Role").val('');

        $('input[name="isactive"]').each(function () {
            this.checked = false;
        });


    });


    $("body").on("click", "#btnSave", function () {

        $("#LblError").fadeOut();
        $("#btnSave").attr("disabled", true);
        $("#loading").show();

        var RoleId = $("#RoleId").val();
        var Role = $("#Role").val();

        if ($("#Role").val() != null && $("#Role").val() != "") {
            var Items = new Array();
            $("#MenuAccessTbl TBODY TR").each(function () {
                var row = $(this);
                var Item = {};

                Item.RoleId = $("#RoleId").val();
                Item.MenuId = row.find("input").eq(0).val();
                Item.isActive = row.find("input").eq(1).prop("checked");
                Item.CreateAccess = row.find("input").eq(2).prop("checked");
                Item.EditAccess = row.find("input").eq(3).prop("checked");
                Item.DeleteAccess = row.find("input").eq(4).prop("checked");
                Items.push(Item);
            });


            var model = {

                RoleId: RoleId,
                Role: Role,
                Items: Items,
            };

            console.log(model);

            //Send the JSON array to Controller using AJAX.

            $.ajax({
                type: "POST",
                url: "@Url.Action("CreateAccessLevel", "User" )",
                data: JSON.stringify(model),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    //alert(r + " record(s) inserted.");
                    var url = window.location.origin;
                    if (r == 0) {
                        url = "@Url.Action("Roles", "User", new { Success = "Role has been added successfully." })"
                    }
                    else if (r == 1) {
                        url = "@Url.Action("Roles", "User", new { Update = "Role has been updated successfully." })"
                        //url += '/User/Roles?Update=Role has been update successfully.';
                    }
                    else if (r == 2) {
                        url = "@Url.Action("Roles", "User", new { Error = "Role already exists." })"
                        //url += '/User/Roles?Error=Role already exists.';
                    }

                        window.location.href = url;
                }
            });
        }
        else {

            $("#LblError").fadeIn();
            $("#btnSave").attr("disabled", false);
            $("#loading").hide();
        }

    });



    $(document).ready(function () {

        if ("@Succ"!="") {
            $('#SuccessAlert').fadeIn();
            $('#SuccessAlert').fadeOut(10000);
        }
        else {
            $('#SuccessAlert').fadeOut();
        }
        if ("@Update" != "") {
            $('#UpdateAlert').fadeIn();
            $('#UpdateAlert').fadeOut(10000);
        }
        else {
            $('#UpdateAlert').fadeOut();
        }
        if ("@Delete" != "") {
            $('#DeleteAlert').fadeIn();
            $('#DeleteAlert').fadeOut(10000);
        }
        else {
            $('#DeleteAlert').fadeOut();
        }
        if ("@Error" != "") {
            $('#error').fadeIn();
            $('#error').fadeOut(10000);
        }
        else {
            $('#error').fadeOut();
        }



        $('#ScrapperList').DataTable({
            searching: true,
            "ordering": false
        });

        $(".nav1 li").removeClass("active");
        $('#Roles').addClass('active');
        $(".sub-menu ul").removeClass("show");
        $('#UserManagement').addClass('show');
    });
</script>