@{ 
    int RoleId = ViewBag.RoleId;
}



<div class="block-header py-lg-2 py-2">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-4 col-sm-12">
                <h4>@Resources.Dashboard</h4>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index.html">
                            <i class="fa fa-dashboard"></i>
                            @Resources.Dashboard
                        </a>
                    </li>
                    <li class="breadcrumb-item active">@Resources.Dashboard</li>
                </ul>
            </div>

        </div>
    </div>
</div>
<!-- Body: Body -->
<div class="body d-flex ">
    <div class="container-fluid">
        <div class="row clearfix">
            @if (RoleId == 1)
            {
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body top_counter">
                            <div class="icon bg-yellow"><i class="fa fa-users"></i> </div>
                            <div class="content">
                                <a href="@Url.Action("CustomerList","Customer")"> <span>@Resources.TotalCustomers</span></a>
                                <h5 class="number mb-0">@ViewBag.TotalCustomer</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body top_counter">
                            <div class="icon bg-green"><i class="fa fa-area-chart"></i> </div>
                            <div class="content">
                                <a href="@Url.Action("Orders","Customer",new { status="Completed"})">
                                    <span> @Resources.SuccessfulTransaction</span>
                                </a>
                                <h5 class="number mb-0">@ViewBag.TotalSuccessfull <span style="float:right">@ViewBag.TotalSuccessfullAmount €</span></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body top_counter">
                            <div class="icon bg-orange"><i class="fa fa-area-chart"></i> </div>
                            <div class="content">
                                <a href="@Url.Action("Orders","Customer",new { status="Pending"})">
                                    <span> @Resources.PendingTransaction</span>
                                </a>
                                <h5 class="number mb-0">@ViewBag.TotalPending <span style="float:right">@ViewBag.TotalPendingAmount €</span></h5>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body top_counter">
                        <div class="icon bg-blue"><i class="fa fa-sort-amount-up"></i> </div>
                        <div class="content">
                            <a href="@Url.Action("Orders","Customer",new { status="Completed"})">
                                <span>@Resources.TotalSales</span>
                                </a>
                                <h5 class="number mb-0">$ @ViewBag.TotalSuccessfullAmount</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body top_counter">
                        <div class="icon bg-red"><i class="fa fa-sort-amount-desc"></i> </div>
                        <div class="content">
                            <a href="@Url.Action("Orders","Customer",new { status="Pending"})">
                                <span>@Resources.PendingAmount</span>
                                </a>
                                <h5 class="number mb-0">$ @ViewBag.TotalPendingAmount</h5>
                        </div>
                    </div>
                </div>
            </div>*@

                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body top_counter">
                            <div class="icon bg-indigo"><i class="fa fa-tag"></i> </div>
                            <div class="content">
                                <a href="@Url.Action("Components","Component")">
                                    <span>@Resources.TotalComponents</span>
                                </a>
                                <h5 class="number mb-0">@ViewBag.TotalComponent</h5>
                            </div>
                        </div>
                    </div>
                </div>
            }

            else
            {
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body top_counter">
                            <div class="icon bg-green"><i class="fa fa-area-chart"></i> </div>
                            <div class="content" style="width:70%">
                                <a href="@Url.Action("Orders","Customer")">
                                    <span> @Resources.Order</span>
                                </a>
                                <h5 class="number mb-0">@ViewBag.TotalSuccessfull <span style="float:right">@ViewBag.TotalSuccessfullAmount €</span></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body top_counter">
                            <div class="icon bg-orange"><i class="fa fa-paint-brush"></i> </div>
                            <div class="content">
                                <a href="@Url.Action("Orders","Customer")">
                                    <span> @Resources.DrawNewPlan</span>
                                </a>
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body top_counter">
                            <div class="icon bg-indigo"><i class="fa fa-save"></i> </div>
                            <div class="content">
                                <a href="@Url.Action("Index","Plans")">
                                    <span> @Resources.SaveIregationPlans</span>
                                </a>
                                <h5 class="number mb-0">@ViewBag.TotalPending</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body top_counter">
                            <div class="icon bg-yellow"><i class="fa fa-user"></i> </div>
                            <div class="content">
                                <a href="@Url.Action("Profile","User")">
                                    <span> @Resources.Usersettings</span>
                                </a>
                               
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
     
    </div>
</div>
<script src="~/assets/js/jquery-3.2.1.min.js"></script>
<script>
    $(document).ready(function () {
        $(".nav1 li").removeClass("active");
        $('#Dashboard').addClass('active');

    });
</script>