@model  DrawingTheme.Models.tblUser
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";

    HttpCookie cookieObj = Request.Cookies["User"];
    int RoleId = Int32.Parse(cookieObj["RoleId"]);
}


<div class="block-header py-lg-2 py-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-4 col-sm-12">
                <h4>Profile</h4>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index.html">
                            <i class="fa fa-dashboard"></i>
                            Dashboard
                        </a>
                    </li>

                    <li class="breadcrumb-item active">Change Password</li>
                </ul>
            </div>
            
        </div>
    </div>
</div>

<!-- Body: Body -->
<div class="body d-flex profile-page">
    <div style="display:none;" class="alert alert-success alert-dismissible fade show" id="SuccessAlert" role="alert">
        @ViewBag.Success
    </div>
    <div style="display:none;" class="alert alert-danger alert-dismissible fade show" role="alert" id="OldPasserror">
        <strong>Error!</strong> @ViewBag.Error
    </div>
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12">
           
                <div class="row">
                    <div class="col-md-6 offset-3">

                     
                            @using (Html.BeginForm("ChangePassword", "Customer", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {@Html.AntiForgeryToken()
                            <div class="card">
                                <div style="display:none;" class="alert alert-danger alert-dismissible fade show" role="alert" id="ChangePasserror">
                                    <strong>Error!</strong>New Password and Confirm Password not Matched.
                                </div>
                                <div class="card-header">
                                    <h3 class="card-title"><strong>Security</strong> Settings</h3>
                                </div>
                                <div class="card-body pt-0">
                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group">
                                            <label>Current Password</label>
                                            <input type="password" class="form-control" placeholder="Current Password" hidden name="id" value="@Model.UserId">
                                            <input type="password" class="form-control" placeholder="Current Password" hidden name="Email" value="@Model.Email">
                                            <input type="password" class="form-control" placeholder="Current Password" id="OldPassword" name="OldPassword">
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group">
                                            <label>New Password</label>
                                            <input type="password" class="form-control" placeholder="New Password" id="NewPassword" name="NewPassword">
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group">
                                            <label>Confirm Password</label>
                                            <input type="password" class="form-control" placeholder="New Password" id="ConfirmPassword" name="ConfirmPassword">
                                        </div>
                                        <button class="btn btn-primary btn-round" id="SaveChanges">Save Changes</button>
                                    </div>
                                </div>
                            </div>
                        }
                  
             
                    </div>

                </div>





            </div>
        </div><!-- .row End -->
    </div>
</div>
<script src="~/assets/js/jquery-3.2.1.min.js"></script>
<script>

    $("#ConfirmPassword").change(function () {
        var New = $("#NewPassword").val();
        if (New) {
            if ($("#NewPassword").val() != $("#ConfirmPassword").val()) {
                $("#ChangePasserror").fadeIn();

                $("#SaveChanges").attr("disabled", true);
            } else {
                $("#SaveChanges").attr("disabled", false);
                $("#ChangePasserror").fadeOut();
            }
        }
    });

    $("#NewPassword").change(function () {
        var New = $("#ConfirmPassword").val();
        if (New) {
            if ($("#NewPassword").val() != $("#ConfirmPassword").val()) {
                $("#ChangePasserror").fadeIn();

                $("#SaveChanges").attr("disabled", true);
            } else {
                $("#SaveChanges").attr("disabled", false);
                $("#ChangePasserror").fadeOut();
            }
        }

    });


    $(document).ready(function () {



        if ("@ViewBag.Success"!="") {
            $('#SuccessAlert').fadeIn();
            $('#SuccessAlert').fadeOut(10000);
        }
        else {
                $('#SuccessAlert').fadeOut();
        }
        if ("@ViewBag.Error" != "") {
            $('#OldPasserror').fadeIn();
            $('#OldPasserror').fadeOut(10000);

        }
        else {
                    $('#OldPasserror').fadeOut();
        }
        $('#ScrapperList').DataTable({
            searching: true,
            "ordering": false
        });

        $(".nav1 li").removeClass("active");
        $('#Profile').addClass('active');

    });
</script>