@model IEnumerable<DrawingTheme.Models.tblTransaction>

@{
    ViewBag.Title = "TransactionList";
    Layout = "~/Views/Shared/_Layout.cshtml";


    string Succ = @ViewBag.Success;
    string Update = @ViewBag.Update;
    string Delete = @ViewBag.Delete;
    string Error = @ViewBag.Error;
}
<div class="block-header py-lg-2 py-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-4 col-sm-12">

                <h4>@Resources.Transaction </h4>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index.html">
                            <i class="fa fa-dashboard"></i>
                            @Resources.Dashboard
                        </a>
                    </li>

                    <li class="breadcrumb-item active">@Resources.Transaction </li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-8 col-sm-12">
                <ul class="nav nav-tabs tab-body-header rounded justify-content-end" role="tablist">

                    @*<div class="page_action">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addcontact" id="AddTransaction">
                            <i class="fa fa-address-card mr-1" aria-hidden="true"></i>
                            Add New Transaction
                        </button>

                    </div>*@
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="body d-flex profile-page">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12">
                <div style="display:none;" class="alert alert-success alert-dismissible fade show" id="SuccessAlert" role="alert">
                    <strong>Success!</strong> @ViewBag.Success
                </div>
                <div style="display:none;" class="alert alert-info alert-dismissible fade show" id="UpdateAlert" role="alert">
                    <strong>Success!</strong> @ViewBag.Update
                </div>
                <div style="display:none;" class="alert alert-warning alert-dismissible fade show" id="DeleteAlert" role="alert">
                    <strong>Success!</strong> @ViewBag.Delete
                </div>
                <div style="display:none;" class="alert alert-danger alert-dismissible fade show" id="error" role="alert">
                    @ViewBag.Error
                </div>
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">@Resources.TransactionList</h3>
                    </div>
                    <div class="card-body pt-0">
                        <div class="table-responsive table_e2">
                            <table class="table table-hover table-vcenter text-nowrap mb-0" id="ScrapperList">
                                <thead>
                                    <tr>

                                        <th hidden>Transaction Id</th>
                                        <th>@Resources.PAYMENTID</th>
                                        <th>@Resources.Username</th>
                                        <th>@Resources.Order#</th>
                                        <th>@Resources.ORDERNAME</th>
                                        <th>@Resources.DATE</th>
                                        <th>@Resources.PAYMENTSTATUS</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (DrawingTheme.Models.tblTransaction Transaction in Model)
                                    {
                                    <tr>
                                        <td hidden>@Transaction.Id</td>
                                        <td>@Transaction.PaypalPaymentId</td>
                                        <td>
                                            <span >@Transaction.tblUser.FirstName</span>
                                        </td>
                                        <td>@Transaction.tblOrder.OrderNumber</td>
                                        <td>@Transaction.tblOrder.Name</td>
                                        <td>@Transaction.PaymentDateTime</td>
                                        <td>

                                            @if (@Transaction.Status == "Successfull")
                                            {
                                            <span class="badge badge-success">
                                                @Resources.Paid
                                            </span>

                                            }
                                            else
                                            {
                                                <span class="badge badge-danger">
                                                    @Transaction.Status
                                                </span>
                                            }
                                        </td>

                                    </tr>

                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="addcontact" tabindex="-1" role="dialog">
    <div class="modal-dialog  modal-lg" role="document">
        @using (Html.BeginForm("AddTransaction", "Customer", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {@Html.AntiForgeryToken()
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title" id="defaultModalLabel">Add Transaction</h4>
            </div>
            <div class="modal-body">

                <div class="row clearfix">
                    <div class="col-6" hidden>
                        <div class="form-group">
                            <input type="text" class="form-control" id="TransactionNumber" name="TransactionNumber" placeholder="Transaction Number" required>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <input type="text" hidden class="form-control" id="TransactionId" name="TransactionId" placeholder="First Name">
                            <input type="text" class="form-control" id="Name" name="Name" placeholder="Name" required>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <input type="number" class="form-control" id="TotalPrice" name="TotalPrice" placeholder="Total Price">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            @*<input type="text" class="form-control" id="Status" name="Status" placeholder="Payment Status" >*@

                            <select class="form-control" id="Status" name="Status">
                                <option value="">Payment Status</option>
                                <option value="1">Pending</option>
                                <option value="2">Paid</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 form-group">

                        <label class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="isActive" name="isActive" value="True">
                            <span class="custom-control-label">Active</span>
                        </label>

                        <p id="error-checkbox"></p>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save Changes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    }
    </div>
</div>



<div class="modal fade" id="DeleteTransactionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog  modal-lg" role="document">
        @using (Html.BeginForm("DeleteTransaction", "Customer", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {@Html.AntiForgeryToken()
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title" id="defaultModalLabel">Delete Transaction</h4>
            </div>
            <div class="modal-body text-center">
                <img src="~/assets/images/sent.png" alt="" width="50" height="46">
                <input class="form-control" type="text" name="TransactionId" id="DeleteTransactionId" hidden>
                <h5>Are you sure want to delete this Transaction information?</h5>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    }
    </div>
</div>



<script src="~/assets/js/jquery-3.2.1.min.js"></script>
<script>

    $(document).on("click", "#DeleteTransaction", function () {
        //alert();
        var currentRow = $(this).closest("tr");
        $("#DeleteTransactionId").val(currentRow.find("td:eq(0)").text());
       /* $("#DeleteTransactionModal").toggle();*/

    });


    $(document).on("click", "#AddTransaction", function () {
        $("#defaultModalLabel").text("Add Transaction");
        $("#TransactionNumber").val('');
        $("#TransactionId").val('');
        $("#Name").val('');
        $("#TotalPrice").val('');
        $("#Status").val('');

        $('#isActive').prop('checked', false);
        //var myModal = $('#offcanvasAddTransaction');
        //$('#offcanvasAddTransaction').css("visibility", "visible");
        //$('#offcanvasAddTransaction').addClass("show");
        //$('#AddTransactionBody').css("visibility", "visible");
    });


    $(document).on("click", "#EditTransaction", function () {
        @*var model1 = '@Html.Raw(Json.Encode(ViewBag.CategoryList))';
        var data = JSON.parse(model1);*@
        var currentRow = $(this).closest("tr");


        //alert(currentRow.find("td:eq(2)").text());

        $("#defaultModalLabel").text("Edit Transaction");
        var TransactionId = currentRow.find("td:eq(0)").text();
        $("#TransactionId").val(TransactionId);
        $("#TransactionNumber").val(currentRow.find("td:eq(1)").text());
        $("#Name").val(currentRow.find("span:eq(0)").text());
        $("#TotalPrice").val(currentRow.find("td:eq(3)").text());
        var Status = currentRow.find("span:eq(1)").text();
        if (Status == "") {
            $("#Status").val(1);
        }
        else {
            $("#Status").val(currentRow.find("span:eq(1)").text());
        }


        if (currentRow.find("span:eq(2)").text()=="True") {
            $('#isActive').prop('checked', true);
        }
        else {
            $('#isActive').prop('checked', false);
        }

    });

    $(document).ready(function () {


        if ("@Succ"!="") {
            $('#SuccessAlert').fadeIn();
            $('#SuccessAlert').fadeOut(10000);
        }
        else {
            $('#SuccessAlert').fadeOut();
        }
        if ("@Update" != "") {
            $('#UpdateAlert').fadeIn();
            $('#UpdateAlert').fadeOut(10000);
        }
        else {
            $('#UpdateAlert').fadeOut();
        }
        if ("@Delete" != "") {
            $('#DeleteAlert').fadeIn();
            $('#DeleteAlert').fadeOut(10000);
        }
        else {
            $('#DeleteAlert').fadeOut();
        }
        if ("@Error" != "") {
            $('#error').fadeIn();
            $('#error').fadeOut(10000);
        }
        else {
            $('#error').fadeOut();
        }


        //$('#ScrapperList').DataTable({
        //    searching: true,
        //    "Transactioning": false
        //});

        $(".nav1 li").removeClass("active");
        $('#Transaction').addClass('active');

    });
</script>