@model IEnumerable<DrawingTheme.Models.Sp_GetAccesoires_Result>
@{
    ViewBag.Title = "AddAccesoires";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Double? GrandTotal = 0.0;
}

<div class="body d-flex profile-page">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 mt-2">
                <form class=" mb-2" style="float:right" role="form" id="payment-form" method="POST" action="@Url.Action("PaymentWithPaypal","PayPal",new {UserId=@ViewBag.UserId,OrderID=@ViewBag.OrderId })">
                    <span class="badge badge-warning  mr-2"> <label id="TotalAmount"> 0</label> €</span>
                    <input type="text" id="TotalAmountInput" name="amount" value="" hidden />
                    <button class="btn btn-info mr-2" type="submit"><i class="fa fa-paypal mr-2"></i>@Resources.PlaceOrder</button>

                   
                </form>
                <div class="card" style="display:none" id="Accesories">
                    <div class="row card-header">
                        <div class="col-md-6">
                            <h3 class="card-title">@Resources.Accesoires</h3>
                            </div>
                      
                    </div>
                   
                    <div class="card-body pt-0">

                        <input type="text" hidden="" class="form-control" id="OrderId" name="OrderId" value="@ViewBag.OrderId" placeholder="OrderId">
                        <div class="row">
                            <div class="col-9">

                                <label class="text-center"><strong>@Resources.Item</strong></label>
                            </div>
                            <div class="col-2">
                                <label class="text-center"><strong>@Resources.PRICE (€)</strong></label>
                            </div>

                            <div class="col-1">
                                <label class="text-center"><strong>@Resources.QTY</strong></label>
                            </div>

                        </div>
                        @foreach (DrawingTheme.Models.Sp_GetAccesoires_Result item in Model)
                        {
                            <div class="row clearfix1 mb-1">
                                <div class="col-9">
                                    <input type="text" hidden class="form-control" id="SCId" name="SCId" placeholder="SCId" value="@item.SCId">
                                    <label class="SCName">@item.SCName</label>
                                </div>
                                <div class="col-2">
                                    <label class="SCPrice">@item.SCPrice</label>
                                </div>
                                @*<div class="col-3">
                    <button type="button" id="AddCart" onclick="AddCart(this)">Add to cart</button>
                </div>*@
                                <div class="col-1">
                                    @if (@item.Qty != null)
                                    {
                                        <input type="number" class="form-control" id="Qty" name="Qty" placeholder="Qty" min="0" value="@item.Qty">
                                    }
                                    else
                                    {
                                        <input type="number" class="form-control" id="Qty" name="Qty" min="0" placeholder="Qty" value="0">
                                    }
                                </div>
                                @*<div class="col-2">
                    <button type="button" id="Remove" onclick="Remove(this)">Remove</button>
                </div>*@
                            </div>

                        }
                        <div class="col-md-12 mt-2">
                            <button id="save" class="btn btn-success " style="float:right"><i class="fa fa-reorder mr-2"></i>@Resources.UpdateBOM</button>
                            <button class="btn btn-secondary mr-2" type="button" onclick="HideAccessories()" style="float:right"><i class="fa fa-close mr-2"></i>@Resources.Close</button>
                        </div>

                    </div>
                </div>
                <div class="card">
                    <div class="row card-header">
                        <div class="col-md-6">
                            <h3 class="card-title">@Resources.BOM</h3>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-primary" type="button" onclick="showAccessories()" style="float:right"><i class="fa fa-plus mr-2"></i> @Resources.AddAccesoires</button>
                            </div>
                        </div>
                        <div class="card-body pt-0">
                            <div class="table-responsive table_e2">
                                <table class="table table-hover table-vcenter text-nowrap mb-0" id="ScrapperList">
                                    <thead>
                                        <tr>
                                            <th>@Resources.Itemname </th>
                                            <th hidden>Item ID</th>
                                            <th>@Resources.QUANTITY</th>
                                            <th>@Resources.Priceperunit</th>
                                            <th>@Resources.Total</th>
                                            <th>@Resources.VAT</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (DrawingTheme.Models.Sp_GetBOMData_Result item in ViewBag.BomData)
                                        {
                                            {
                                                GrandTotal += item.TotalPrice;
                                            }
                                            <tr>
                                                <td>@item.subCategoryName</td>
                                                <td hidden>
                                                    @item.SubCategoryID
                                                </td>
                                                <td>
                                                    @item.Qty
                                                </td>
                                                <td>
                                                    @item.Price
                                                </td>
                                                <td>
                                                    @item.TotalPrice
                                                </td>
                                                <td>
                                                </td>
                                            </tr>

                                        }
                                        <tr>
                                            <td colspan="3">@Resources.Total</td>

                                            <td><label id="GrandTVal">@GrandTotal</label> €</td>
                                            <td>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
            </div>

        </div>
    </div>
</div>

<script src="~/assets/js/jquery-3.2.1.min.js"></script>

<script>
    function showAccessories() {
      
        $("#Accesories").fadeIn();
    }
    function HideAccessories() {

        $("#Accesories").fadeOut();
    }
    function AddCart(Btn) {
        //console.log($(Btn).closest("div.row").find("input[name='Qty']").val());
        $(Btn).closest("div.row").find("input[id='Qty']").val(0);
        $(Btn).closest("div.row").find("input[id='Qty']").show();
    }



    function Remove(Btn) {
        //console.log($(Btn).closest("div.row").find("input[name='Qty']").val());
        $(Btn).closest("div.row").find("input[id='Qty']").val(0);
        $(Btn).closest("div.row").find("input[id='Qty']").hide();
    }

    $(document).on("click", "#save", function () {
        var MainDiv = $(this).closest("div.card-body");
        var OrderId = MainDiv.find("input[id='OrderId']").val();
        window.location.href = "@Url.Action("AddAccesoires", "Admin")?OrderId=" + OrderId + "";
    });


    $(document).on("click", "#Qty", function () {
        var MainDiv = $(this).closest("div.card-body");
        var OrderId = MainDiv.find("input[id='OrderId']").val();

        //var GTV = Number($("#GrandTVal").text()).toFixed(2);

        var LoopDiv = MainDiv.find("div.clearfix1");
        var Datas = [];
        LoopDiv.each(function (index, value) {
            //GTV = Number(Number(GTV).toFixed(2)) + Number(Number($(value).find('label.SCPrice').text()).toFixed(2));
            Datas.push({ OrderId: OrderId, SCName: $(value).find('label.SCName').text(), SCPrice: $(value).find('label.SCPrice').text(), Qty: $(value).find('input[id="Qty"]').val(), SCId: $(value).find('input[id="SCId"]').val() });
        });
        //$("#GrandTVal").text(GTV);

        var model = {
            Datas: Datas,
        };
        console.log(model);


        //Send the JSON array to Controller using AJAX.
        $.ajax({
            type: "POST",
            url: "@Url.Action("AddAccesoires", "Admin")",
            data: JSON.stringify(model),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (r) {

                //window.location.href = "@Url.Action("AddAccesoires", "Admin")?OrderId=" + OrderId + "";
            }
        });

    });


    $(document).ready(function () {
        var GT = $("#GrandTVal").text();
        //console.log(GT);
        $("#TotalAmountInput").val(GT);
        $("#TotalAmount").text(GT);

        //var OrderId = MainDiv.find("input[id='OrderId']").val();
        //$("#OrderId").val(OrderId);
        
    });

</script>