@model  DrawingTheme.Models.tblSetting
@{
    ViewBag.Title = "Setting";
    Layout = "~/Views/Shared/_Layout.cshtml";


    string Update = @ViewBag.Error;
}
<div class="block-header py-lg-2 py-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-4 col-sm-12">
                <h4>Settings</h4>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index.html">
                            <i class="fa fa-dashboard"></i>
                            Dashboard
                        </a>
                    </li>

                    <li class="breadcrumb-item active">Settings</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="body d-flex ">
    <div class="container-fluid">

        <div class="row clearfix">

            <div class="card">
                <div style="display:none;" class="alert alert-info alert-dismissible fade show" id="UpdateAlert" role="alert">
                    <strong>Success!</strong> @ViewBag.Error
                </div>
                @using (Html.BeginForm("CreateSetting", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {@Html.AntiForgeryToken()
                <div class="row card-body">

                    <div class="col-lg-6">
                        <h3 class="card-title">Paypal Settings</h3>


                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" style="display:none;" name="SettingId" value="@Model.SettingId" required>
                                    <label class="form-label">Secret Key</label>
                                    <input type="text" class="form-control" placeholder="Secret Key" name="SecretKey" value="@Model.SecretKey">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label">ClientID</label>
                                    <input type="text" class="form-control" placeholder="ClientID" name="ClientID" value="@Model.ClientID">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label">Mode</label>
                                    <select class="form-control custom-select" name="Mode">
                                        @if (@Model.Mode == "Sandbox")
                                        {
                                            <option value="Sandbox" selected>Sandbox</option>
                                        }
                                        else
                                        {
                                            <option value="Sandbox">Sandbox</option>
                                        }
                                        @if (@Model.Mode == "live")
                                        {
                                            <option value="live" selected>live</option>
                                        }
                                        else
                                        {
                                            <option value="live">live</option>
                                        }
                                    </select>
                                </div>
                            </div>

                        </div>

                    </div>


                    <div class="col-lg-6">
                        <h3 class="card-title">Email Settings</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Email</label>
                                    <input type="text" class="form-control" placeholder="Email" name="Email" value="@Model.Email">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Password</label>
                                    <input type="password" class="form-control" placeholder="Password" name="Password" value="@Model.Password">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Port</label>
                                    <input type="text" class="form-control" placeholder="Port" name="Port" value="@Model.Port">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">SMTP</label>
                                    <input type="text" class="form-control" placeholder="SMTP" name="SMTP" value="@Model.SMTP">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="custom-control custom-checkbox custom-control-inline">
                                        @if (Model.isActive == true)
                                        {
                                            <input type="checkbox" class="custom-control-input" name="isActive" value="True" checked>
                                        }
                                        else
                                        {
                                            <input type="checkbox" class="custom-control-input" name="isActive" value="True">
                                        }

                                        <span class="custom-control-label">Active</span>
                                    </label>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="card-footer text-right">
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
            }
            </div>
        </div><!-- row end-->
    </div>
</div>

<script src="~/assets/js/jquery-3.2.1.min.js"></script>
<script>

    $(document).ready(function () {
                if ("@Update" != "") {
                    $('#UpdateAlert').fadeIn();
                    $('#UpdateAlert').fadeOut(10000);
                }
                else {
                    $('#UpdateAlert').fadeOut();
                }

        $(".nav1 li").removeClass("active");
        $('#Setting').addClass('active');

    });
</script>