<!DOCTYPE html>

@{ ViewBag.Access = Session["Access"];
    int PID = 0;
    var culture1 = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
}
@{
    int UserID = 0;
    string Email = "";
    string UserName = "";
    string UserType = "";
    string IsExpire = "";
    string ImagePath = "";
    HttpCookie cookieObj = Request.Cookies["User"];
    HttpCookie cookieObj1 = Request.Cookies["_culture"];
    string culture = "flag-icon flag-icon-us flag-icon-squared";
    if (@cookieObj1 != null)
    {
        if (@cookieObj1["Language"] != null && @cookieObj1["Language"] != "")
        {
            culture = @cookieObj1["Language"];
        }
        if (culture == "en")
        {
            culture = "flag-icon flag-icon-us flag-icon-squared";
        }
        else
        {
            culture = "flag-icon flag-icon-de flag-icon-squared";
        }
    }
    if (@cookieObj != null)
    {
        if (@cookieObj["Email"] != null && @cookieObj["Email"] != "")
        {
            Email = @cookieObj["Email"];
        }

        if (@cookieObj["FirstName"] != null && @cookieObj["FirstName"] != "")
        {
            UserName = @cookieObj["FirstName"];
        }

        if (@cookieObj["UserId"] != null && @cookieObj["UserId"] != "")
        {
            UserID = Convert.ToInt32(@cookieObj["UserId"]);
        }
        if (@cookieObj["Role"] != null && @cookieObj["Role"] != "")
        {
            UserType = (@cookieObj["Role"]);
        }
        if (@cookieObj["ImagePath"] != null && @cookieObj["ImagePath"] != "")
        {
            ImagePath = (@cookieObj["ImagePath"]);
        }
    }
}
<html lang="es" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="~/assets/images/Favicon.png" type="image/x-icon" />
    <title>AUTOMATISCHE</title>
    <!-- Bootstrap Core and Font Icon -->
    <link rel="stylesheet" href="~/assets/plugins/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/plugins/animate-css/vivify.min.css" />
    <link rel="stylesheet" href="~/assets/plugins/font-awesome/css/font-awesome.min.css">
    <!-- Core css -->
    <link rel="stylesheet" href="~/assets/plugins/rangeslider/css/ion.rangeSlider.css" />
    <link rel="stylesheet" href="~/assets/plugins/rangeslider/css/ion.rangeSlider.skinFlat.css" />

    <!-- Material Plugin css -->
    <link rel="stylesheet" href="~/assets/plugins/material-rangeslider/style.css" />

    <!-- Round Slider Plugin css -->
    <link rel="stylesheet" href="~/assets/plugins/roundslider/roundslider.min.css" />
    <link rel="stylesheet" href="~/assets/plugins/roundslider/style.css" />


    <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.3.0/css/flag-icon.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/plugins/multi-select/css/multi-select.css">
    <link rel="stylesheet" href="~/assets/plugins/dropify/css/dropify.min.css">
    <link rel="stylesheet" href="~/assets/css/main.css" />
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/assets/plugins/datatable/fixedeader/dataTables.fixedcolumns.bootstrap4.min.css">
    <link rel="stylesheet" href="~/assets/plugins/datatable/fixedeader/dataTables.fixedheader.bootstrap4.min.css">
    <style>
        .widget-visible {
            display: none !important;
        }
    </style>
</head>

<body class="theme-blush" style="--secondary-color: #8dc63f !important;">


    <div id="layout-block">
        <!-- Navigation -->
        <!--<div class="navigation navbar navbar-light justify-content-center px-3 px-lg-2 py-2 py-md-3  ver-menu">
            <!-- Brand -->
        <!-- Menu: icon -->
        <!--<ul class="nav navbar-nav flex-row flex-lg-column flex-grow-1 justify-content-start align-items-center py-2 py-lg-0">-->
        <!-- Create group -->
        <!--<li class="nav-item flex-grow-1">
                 <a class="nav-link p-2 p-lg-2 d-block d-xl-none menu-toggle" href="#">
                     <i class="fa fa-bars"></i>
                 </a>
             </li>
             <li class="nav-item">
                     <a class="nav-link p-2 p-lg-3" href="#" title="Search" data-toggle="modal"
                        data-target="#SearchModal"><i class="fa fa-search"></i></a>
                 </li>
                 <li class="nav-item flex-grow-1">
                     <a class="nav-link p-2 p-lg-3" href="#" title="notifications" data-toggle="modal"
                        data-target="#notificationsModal"><i class="fa fa-bell"></i></a>
                 </li>-->
        <!-- Menu collapse -->
        <!--<li class="nav-item">
                    <a class="nav-link p-2 p-lg-3" href="Url.Action("Profile","User",new { id=UserID})" title="Menu collapse">
                        <i class="fa fa-user"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-2 p-lg-3" href="Url.Action("Login","Account")" title="Menu collapse">
                        <i class="fa fa-sign-out"></i>
                    </a>
                </li>
            </ul>
        </div>-->
        <!-- sidebar -->
        <div class="sidebar bg-primary px-3 py-2 py-md-3" style="--primary-color: #333333 !important;" id="SideBAr">
            <a class="nav-link p-2 p-lg-2 menu-toggle close-btn-nav" href="#"><i class="fa fa-close"></i></a>

            <div class="d-flex flex-column h-100">

                <img class="" src="~/assets/images/logo.png" alt="user" id="Webimage">
                <img class="" src="~/assets/images/Favicon.png" alt="user" id="Mobimage" style="display:none;width: 85%;margin-left: 4%;">

                <!-- Menu: main ul -->
                <ul class="nav1 menu-list flex-grow-1">
                    <li class="divider mt-4 py-2 border-top"></li>

                    @foreach (var AccessLevel in @ViewBag.Access)
                    {


                        if (@AccessLevel.tblMenu.isParent == true)
                        {
                            {

                                PID = @AccessLevel.tblMenu.MenuId;


                            }



                            <li class="collapsed">
                                <a class="m-link" data-toggle="collapse" data-target="#@AccessLevel.tblMenu.ElementId" href="#">
                                    <i class="@AccessLevel.tblMenu.FontAwesome" style="margin-left:4%"></i>
                                    <span>@AccessLevel.tblMenu.Name</span><span class="arrow fa fa-angle-down ml-auto text-right"></span>
                                </a>

                                <ul class="sub-menu collapse" id="@AccessLevel.tblMenu.ElementId">

                                    @foreach (var AccessLevel1 in @ViewBag.Access)
                                    {
                                        if (@AccessLevel1.tblMenu.ParentId == @PID)
                                        {


                                            <li><a id="@AccessLevel1.tblMenu.ElementId" class="ms-link" href="@Url.Action(AccessLevel1.tblMenu.ActionName,AccessLevel1.tblMenu.ControllerName)">@AccessLevel1.tblMenu.Name</a></li>


                                        }
                                    }
                                </ul>
                            </li>
                        }
                        else
                        {
                            if (@AccessLevel.tblMenu.ParentId == 0)
                            {


                                <li class="nav1">
                                    <a id="@AccessLevel.tblMenu.ElementId" class="m-link" href="@Url.Action(AccessLevel.tblMenu.ActionName,AccessLevel.tblMenu.ControllerName)" style="color: white; ">
                                        <i class="@AccessLevel.tblMenu.FontAwesome" style="margin-left:4%"></i>
                                        <span>@AccessLevel.tblMenu.Name</span>
                                    </a>
                                </li>
                            }

                        }

                    }
                    <li class="nav1">
                        <a id="Profile" class="m-link" href="@Url.Action("Profile","User",new { id=@UserID})" style="color: white; ">
                            <i class="fa fa-user" style="margin-left:4%"></i>
                            <span>@Resources.Usersettings</span>
                        </a>
                    </li>

                </ul>
                <ul class="nav1 menu-list ">
                    <li id="">
                        <a class="m-link" href="https://automatische-gartenberegnung.de/widerrufsrecht/" target="_blank" style="color: white;padding: 5px 0 !important;margin-bottom:0px !important ">
                            <i class="fa fa-link"></i>  <span>Widerrufsrecht</span>
                        </a>
                    </li>
                    <li id="">
                        <a class="m-link" href="https://automatische-gartenberegnung.de/impressum/" target="_blank" style="color: white; padding: 5px 0 !important;margin-bottom:0px !important">
                            <i class="fa fa-link"></i>   <span>Impressum</span>
                        </a>
                    </li>
                    <li id="">
                        <a class="m-link" href="https://automatische-gartenberegnung.de/datenschutzerklaerung/" target="_blank" style="color:white;padding: 5px 0 !important;margin-bottom:0px !important">
                            <i class="fa fa-link"></i>    <span>Datenschutzerklaerung</span>
                        </a>
                    </li>
                    <li id="">
                        <a class="m-link" href="https://automatische-gartenberegnung.de/agb/" target="_blank" style="color: white;padding: 5px 0 !important;margin-bottom:0px !important ">
                            <i class="fa fa-link"></i>    <span>AGB</span>
                        </a>
                    </li>
                    <li id="">
                        <a class="m-link" href="https://automatische-gartenberegnung.de/zahlung-und-versand/" target="_blank" style="color: white;padding: 5px 0 !important;margin-bottom:0px !important">
                            <i class="fa fa-link"></i>  <span>Zahlung und Versand</span>
                        </a>
                    </li>
                </ul>
                <button type="button" class="btn btn-link sidebar-mini-btn text-light" id="btnChangeImage" onclick="ChangeImage()">
                    <span class="ml-2"><i class="fa fa-arrow-left"></i></span>
                </button>

            </div>
        </div>

        <!-- Main Setting menu -->
        <!-- main body area -->
        <div class="main">
            <div class="body-header d-flex  header_top px-3 px-md-3 px-lg-3" id="header_top">
                <div class="container-fluid p-0">
                    <div class="col-12 p-0">
                        <nav class="navbar navbar-expand-md navbar-light">

                            <div class="d-flex align-items-center currently_maintain hidden-xs  ml-auto d-md-none d-xl-none">

                            </div>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                                <div class="d-flex align-items-center currently_maintain hidden-xs mr-auto" style="margin-left: 88% !important;">
                                    @*<span class="ml-1 mr-1">@Resources.language:</span>*@
                                    <div class="dropdown">
                                        <button type="button" class="btn btn-secondary dropdown-toggle @culture" data-toggle="dropdown" style="width:2em;height:2em"></button>
                                        <div class="dropdown-menu ">
                                            <a class="dropdown-item " href="@Url.Action("SetCulture","Home",new { culture="en"})"><i class="flag-icon flag-icon-us flag-icon-squared mr-2"></i> English</a>
                                            <a class="dropdown-item " href="@Url.Action("SetCulture","Home",new { culture="de"})"><i class="flag-icon flag-icon-de flag-icon-squared mr-2"></i> German</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown">
                                    <a href="#" class="nav-link leading-none" data-toggle="dropdown"
                                       aria-expanded="false">
                                        @if (ImagePath != null && ImagePath != "")
                                        {
                                            <img class="avatar" src="@ImagePath" alt="user">
                                        }
                                        else
                                        {
                                            <img class="avatar" src="~/assets/images/user.png" alt="user">
                                        }
                                        <span class="ml-2 d-none d-lg-block">
                                            <span class="user_name">@UserName</span>
                                            <small class="d-block mt-1">@UserType</small>
                                        </span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow vivify flipInY"
                                         style="will-change: transform;">

                                        <a class="dropdown-item" href="@Url.Action("Profile","User",new { id=@UserID})">
                                            <i class="dropdown-icon fe fe-user"></i> @Resources.Profile
                                        </a>
                                        <a class="dropdown-item" href="@Url.Action("ChangePassword","Customer",new { id=@UserID})">
                                            <i class="dropdown-icon fe fe-lock"></i> @Resources.ChangePassword
                                        </a>
                                        <a class="dropdown-item" href="@Url.Action("Login","Account")">
                                            <i class="dropdown-icon fe fe-log-out"></i>
                                            @Resources.SignOut
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
            @RenderBody()

            <!-- Body: Footer -->
            <div class="body-footer d-flex ">
                <div class="container-fluid">
                    <div class="row clearfix">
                        <div class="col-12">
                            @*<div class="card mb-3 border-0">
                                    <div class="card-body">
                                        <div class="row justify-content-between align-items-center">
                                            <div class="col">
                                                <p class="font-size-sm mb-0">
                                                    ©eazisols. <span class="d-none d-sm-inline-block">2022 eazisols.</span>
                                                </p>
                                            </div>

                                        </div>
                                    </div>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>

    <!-- Javascript -->
    <script src="~/assets/bundles/libscripts.bundle.js"></script>
    <script src="~/assets/bundles/vendorscripts.bundle.js"></script>
    <!-- page vendor js file -->
    @*<script src="~/assets/bundles/apexcharts.bundle.js"></script>*@

    <script src="~/assets/plugins/rangeslider/js/ion.rangeSlider.js"></script>
    <script src="~/assets/plugins/roundslider/roundslider.min.js"></script>

    <!-- page js file -->
    <script src="~/assets/bundles/mainscripts.bundle.js"></script>
    @*<script src="~/assets/js/page/ecommerce.js"></script>
        <script src="~/assets/js/page/ecommercechart.js"></script>*@
    @*<script src="~/assets/bundles/dataTables.bundle.js"></script>
    <script src="~/assets/js/table/datatable.js"></script>*@

    <script src="~/assets/plugins/material-rangeslider/mrange.js"></script> <!-- material rangeslider Js -->
    <script src="~/assets/plugins/roundslider/custom.js"></script><!-- roundslider Plugin Js -->
    <script src="~/assets/js/page/range-sliders.js"></script>
    <script>
        function ChangeImage() {

            if ($("#SideBAr").hasClass("sidebar-mini")) {
                $("#Mobimage").hide();
                $("#Webimage").show();
            }
            else {
                $("#Mobimage").show();
                $("#Webimage").hide();

            }
        }
    </script>
</body>

</html>
